

#Designcontainer {
    position: absolute;
  justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50vh,50vh));
    column-gap: 1vh;
    row-gap:0.5vh;
}

.Designslide img{
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}




.designcontainerbutton{
    width: 8vh;
    margin: 14vh auto;
}

.dot{
    width: 1.8vh;
    height:1.8vh ;
    display: inline-block ;
    border-radius:50% ;
}

.Designslide{
    display: none;
}

.Designslide:nth-child(1)
{
    display: block;
}
.Designslide:nth-child(2)
{
    display: block;
}
.Designslide:nth-child(3)
{
    display: block;
}
.Designslide:nth-child(4)
{
    display: block;
}
.dot1{
    background-color: rgb(178, 177, 177);
    animation:jumpup 0.4s 0.1s linear infinite;
    animation-play-state:paused;
   
}
.dot2{
    background-color: antiquewhite; 
    animation:jumpup 0.4s 0.2s linear infinite;
    animation-play-state:paused;
}
.dot3{
    background-color: rgba(205, 205, 205, 0.6);
    animation:jumpup 0.4s 0.3s linear infinite;
    animation-play-state: paused;
}


.btnload{
    display:flex;
    justify-content: center;
    align-items: center;
}
#bt{
    border: none;
    font-size: 140%;
    font-family: headerfont;
    background-color: white;
    color: rgb(121, 121, 121);
    cursor: pointer;
   
   
}

@keyframes jumpup {
    50%{
        transform: translate(0,15px);
    }
}


