<!DOCTYPE html>
<html>
<head>
	<title>About Us </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="aboutus.css">
	<script defer src="scripts.js">
    </script>
</head>	
<body>
	<nav>
    <center class="headerhome"> 
        <a class="headerhome" href="images.html" >Homepage </a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="aboutUS.html">  AboutUs</a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="design.html">  Designs</a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="forms.html"> ContactUs  </a>
        </center>
	</nav>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<header>
					<h1>About Us</h1>
				</header>
				</div>
				<div class="content">
					<h3>Stav Cohen , Industrial engineering student</h3>
					<p> Designing homes is not easy, to make it easier for you,
                         we have collected a variety of different designs that will inspire you to design the house of your dreams.

                    </p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
			
			</div>
			<div class="image-section">
				<img src="/Users/stavo/Documents/StavPazCohen/static/about1.jpg">
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="containerfooter">
			<div class="row">
				<div class="footer-col">
					<h4>company</h4>
					<ul>
						<li><a href="#">about us</a></li>
						<li><a href="#">our services</a></li>
						<li><a href="#">privacy policy</a></li>
					</ul>
				</div>
			  
				<div class="footer-col">
					<h4>follow us</h4>
					<div class="social-links">
						<a href="#"><i class="fab fa-facebook-f"><img src="/Users/stavo/Documents/StavPazCohen/static/facebook.png" alt=""></i></a>
						<a href="#"><i class="fab fa-twitter"></i><img src="/Users/stavo/Documents/StavPazCohen/static/twitter.png" alt=""></a>
						<a href="#"><i class="fab fa-instagram"></i><img src="/Users/stavo/Documents/StavPazCohen/static/instagram.jfif" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
</body>
</html>