*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: headerfont;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color: rgb(245, 245, 245);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 10vh;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
	padding-top: 1vh;
	padding-right: 10vh;


}
.image-section img{
	width: 100%;
	height: auto;
	
}
.content-section .title{
	text-transform: uppercase;
	font-size: 160%;
}
.content-section .content h3{
	margin-top: 2vh;
	color:#5d5d5d;
	font-size: 156%;
}
.content-section .content p{
	margin-top: 2vh;
	font-family:headerfont;
	font-size: 115%;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 7vh;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:2vh 5vh;
	text-decoration: none;
	color:#fff;
	font-size: 160%;
	letter-spacing: 1.5px;
    font-family: headerfont;
}
.content-section .content .button a:hover{
	background-color: #979797;
	color:#fff;
}

@media screen and (max-width: 100%){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:10vh;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 115%;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:2vh 5vh;
}


}

.headerhome
{
    font-family: headerfont;
	text-decoration: none;
}


center{
    color: rgb(255, 255, 255);
    background-color: rgb(108, 108, 108,0.2);
    font-size:xx-large;
}
@font-face {
    font-family: headerfont;
    src: url(../static/Poppins-Thin.ttf);
}
.active {
    background-color: #24262b;
}

a:active {
    color: rgb(255, 255, 255);
}
a:visited {
    color:rgb(255, 255, 255);
}
.containerfooter{
	max-width: 234vw;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    background-color: #24262b;
    margin:0;
	padding:0;
	box-sizing: border-box;
}
.footer-col{
   width: 25%;
   padding: 0 3px;
   font-family: headerfont;
}
.footer-col h4{
	font-size: 110%;
	color: #ffffff;
    text-transform: capitalize;
	margin-bottom: 3vh;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 3vh;
}
.footer-col ul li a{
	font-size: 95%;
	text-transform: capitalize;
	color: #ffffff;
    text-decoration: none;
	display: block;
	
}
.footer-col .social-links a{
	display: inline-block;
	height: 6vh;
	width: 6vh;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 6vh;
	border-radius: 50%;
	color: #ffffff;
	
}

.footer-col .social-links img{
	display: inline-block;
	height:  6vh;
	width:  6vh;
	margin:0 10px 10px 0;
	text-align: center;
	line-height:  6vh;
	border-radius: 50%;
	color: #ffffff;
    opacity: 90%;
}




