.container{
    width: 40px;
    margin: 70px auto;
}

.dot{
    width: 10px;
    height:10px ;
    display: inline-block ;
    border-radius:50% ;
}

.dot1{
    background-color: rgb(178, 177, 177);
    animation: jumpup 0.6s 0.1s linear infinite;
}
.dot2{
    background-color: antiquewhite; 
    animation: jumpup 0.6s 0.2s linear infinite;
}
.dot3{
    background-color: rgba(205, 205, 205, 0.6);
    animation: jumpup 0.6s 0.3s linear infinite;
}

@keyframes jumpup {
    50%{
        transform: translate(0,15px);
    }

    
}