<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us form</title>
    <link rel="stylesheet" href="design.css" id="back">
</head>
<body>
    <center>
    <h1  id="headcontactus"> Contact Us </h1> 
    <form action="url" method="get">
<label for="FirstName" style="color: rgb(31, 62, 97);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">First Name</label> 
<input type="text" name="FirstName" id="FirstName"  pattern="[A-Za-z]{1,15}" required> <br> <br>
<label for="Email" style="color:  rgb(31, 62, 97);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Email</label>
<input type="email" name="Email" id="Email" required > <br> <br>
<label for="PhoneNumber" style="color:  rgb(31, 62, 97);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Phone Number</label>
<input type="tel" name="PhoneNumber" id="PhoneNumber" required pattern="[0][5][0-9]-[0-9][0-9][0-9][0-9][0-9][0-9][0-9]" > <br> <br>
<label for="date" style="color:  rgb(31, 62, 97);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;"> please choose date for possible meeting if necessary</label> <br> <br>
<input type="date" name="date" id="date"> <br> <br>
<label for="time" style="color:  rgb(31, 62, 97);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;"> please choose time for possible meeting if necessary</label> <br> <br>
<input type="time" name="time" id="time" min="08:00" max="20:00"><br> <br>
<label for="info" style="color:  rgb(31, 62, 97);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Information</label> <br> <br>
<textarea id="info" name="info" placeholder="Write something.." style="height:100px;width: 300px;" ;required minlength="5" maxlength="200"></textarea>  <br> <br>
<input type="submit" name="submit" id="submit"> <br> <br>
</center>
<nav> 
    <div>
        <h3 style="border: 2px solid rgb(89, 99, 108);margin: 10px; padding: 6px;">Navigator Bar</h3>
        <a href="/Users/stavo/Documents/StavPazCohen/templates/Home.html"> Back to Home Page</a>
    
    </div>
        </nav>

    </form>
</body>
</html>
