body{
background-image: url(/Users/stavo/Documents/StavPazCohen/static/m.jpg);
background-repeat: no-repeat;
width:1250px;
height: 1000px;
}




.contactheader{
    color: rgb(108, 108, 108);
    background-color: rgb(255, 255, 255,0.3);
    font-size:xx-large;
    font-family: headerfont;
}

.headers{
    font-family: headerfont;
    font-size:x-large;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: headerfont;
    src: url(/Users/stavo/Documents/StavPazCohen/static/Poppins-Thin.ttf);
}

