<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="d.css" type="text/css">
</head>
<body>
    <script  type="text/javascript"> 
    let image=document.getElementById('image');
    let images=['/Users/stavo/Documents/StavPazCohen/static/homework.jpg','/Users/stavo/Documents/StavPazCohen/static/homework.jpg']
    setInterval(function()
    {
        let random=math.floor(math.random()*4);
        image.src=images[random];
    }
    ,800);
    
    </script>
    <center > 
        <a class="headerdesign" href="Home.html" >Homepage </a> &nbsp &nbsp &nbsp
        <a class="headerdesign" href="Contact Us.html">  AboutUs</a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="design.html">  Designs</a> &nbsp &nbsp &nbsp
        <a class="headerdesign" href="Contact Us.html"> ContactUs  </a>
        </center>


<div id="container">
 
        <img src="/Users/stavo/Documents/StavPazCohen/static/bethrooms.PNG" alt="">
   
 
        <img src="/Users/stavo/Documents/StavPazCohen/static/try.PNG" alt="">
    
 
        <img src="/Users/stavo/Documents/StavPazCohen/static/g.jpg" alt="">

        <img src="/Users/stavo/Documents/StavPazCohen/static/room.jpg" alt="">
    
</div>

</body>
</html>