<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="CssAll.css" type="text/css">
    <script defer src="scripts.js">
    </script>
    
</head>
<body>
<nav>
    <center class="navtoall" > 
        <a class="headerhome" href="Home.html" >Homepage </a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="aboutUS.html">  AboutUs</a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="design.html">  Designs</a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="forms.html"> ContactUs  </a>
        </center>
    </nav>
    <center>	
        <div class="title">
            <header id="titledesign">
            <h1> Our Gallery</h1>
        </header>
        </div>
    </center>	
<div id="Designcontainer">
    <div class="Designslide">
        <img src="../static/bethrooms.PNG" alt="">
    </div>
    <div class="Designslide">
        <img src="../static/try.PNG" alt="">
    </div>
    <div class="Designslide">
        <img src="../static/g.jpg" alt="">
    </div>
    <div class="Designslide">
        <img src="../static/room.jpg" alt="">
    </div>
        
        <div class="Designslide">
            <img src="../static/bethrooms2.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/bethrooms3.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/bethrooms4.jpg" alt="">
        </div>
       
        
        <div class="Designslide">
            <img src="../static/bethrom6.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/bethroom7.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/bethroom8.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/kitchen 5.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/kitchens3.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/livingroom.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/kitchen2.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/kitchen4.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/kitchen3.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/room2.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/room3.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/room4.jpg" alt="">
        </div>
        <div class="Designslide">
            <img src="../static/room5.jpg" alt="">
        </div>
       
        <div class="btnload">
            <button class="btn" id="bt" onclick="anim()">load more</button>
            <div class="designcontainerbutton">
                <div class="dot dot1" id="dott1"></div>
                <div class="dot dot2" id="dott2"></div>
                <div class="dot dot3" id="dott3"></div>
            </div>
            
        </div>
        
</div>


</body>
</html>