

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#container  {
    position: absolute;
  justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 10px;
    row-gap: 10px;
}



.headerdesign
{
    font-family: headerfont;
    text-decoration: none;
}


center{
    color: rgb(108, 108, 108);
    background-color: rgba(205, 205, 205, 0.6);
    font-size:xx-large;
    font-family: headerfont;
    
    
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

@font-face {
    font-family: headerfont;
    src: url(../static/Poppins-Thin.ttf);
}


.container{
    width: 40px;
    margin: 70px auto;
}

.dot{
    width: 10px;
    height:10px ;
    display: inline-block ;
    border-radius:50% ;
}

.slide{
    display: none;
}

.slide:nth-child(1)
{
    display: block;
}
.slide:nth-child(2)
{
    display: block;
}
.slide:nth-child(3)
{
    display: block;
}
.slide:nth-child(4)
{
    display: block;
}
.dot1{
    background-color: rgb(178, 177, 177);
    animation:jumpup 0.4s 0.1s linear infinite;
    animation-play-state:paused;
   
}
.dot2{
    background-color: antiquewhite; 
    animation:jumpup 0.4s 0.2s linear infinite;
    animation-play-state:paused;
}
.dot3{
    background-color: rgba(205, 205, 205, 0.6);
    animation:jumpup 0.4s 0.3s linear infinite;
    animation-play-state: paused;
}


.btnload{
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 6px;
    font-size: 20px;
    font-family: headerfont;
    background-color: white;
    color: rgb(121, 121, 121);
    cursor: pointer;
   
   
}

@keyframes jumpup {
    50%{
        transform: translate(0,15px);
    }
}
.active {
    background-color: #24262b;
    text-decoration: none;
}

a:active {
    color: rgb(255, 255, 255);
}
a:visited {
    color:rgb(255, 255, 255);
}


