<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/CssAll.css">
    <script src="../static/scripts.js"></script>
    <title>Grid</title>
</head>

<body id="Gridbody">
    <div class="gridContainer">
        <header id="GridPage">
            <nav>
                <center class="navtoall"> 
                    <a class="headerhome" href="Home.html" >Homepage </a> &nbsp &nbsp &nbsp
                    <a class="headerhome" href="aboutUS.html">  AboutUs</a> &nbsp &nbsp &nbsp
                    <a class="headerhome" href="design.html">  Designs</a> &nbsp &nbsp &nbsp
                    <a class="headerhome" href="forms.html"> ContactUs  </a>
                    </center>
                </nav>
        </header>


        <div class="PageImage GridPage"></div>

        <main id="ma">
            <div id="text">
                <div class="title">
					<header>
                        <h3>Open Your Mind</h3>
				</header>
                </div>
                <div class="content">
                    <br>
                    <br>
                    
                    <p id="p">Design your home <br> in a way it will be practical and well design.
                    <br> Take your time and plan well before you start.</p>
                    
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="containerfooter">
                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                  
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"><img src="../static/facebook.png" alt=""></i></a>
                            <a href="#"><i class="fab fa-twitter"></i><img src="../static/twitter.png" alt=""></a>
                            <a href="#"><i class="fab fa-instagram"></i><img src="../static/instagram.jfif" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>