<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="design.css" id="back">
</head>
<body>

    <center class="headerhome"> 
        <a class="headerhome" href="Home.html" >Homepage </a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="Contact Us.html">  AboutUs</a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="design.html">  Designs</a> &nbsp &nbsp &nbsp
        <a class="headerhome" href="Contact Us.html"> ContactUs  </a>
        </center>

    <nav> 
        <div>
            <h3 >Navigator Bar</h3>
            
        
        </div>
            </nav>
</body>
</html>