<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page for the personal homework in web class</title>
</head>
<body>
    
   <center> 
    <h1 style="color: rgb(86, 86, 86); ">Homework 1</h1>
       <img src="/Users/stavo/Documents/StavPazCohen/static/BGU.png" alt="BGU" width="200""></center>
    <p style="color: rgb(0, 138, 230);">
        Hi everyone Im BGU student <br>
        and this is my home page in web class
    </p>

    
    <nav> 
<div>
    <h3>Navigator Bar</h3>
    <a href="Contact Us.html"> Contact Us</a>

</div>
    </nav>
</body>
</html>