<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="design.css" id="back">
</head>
<body>

    <center id="headerhome"> 
        <a href="Home.html" >Homepage </a> 
        <a href="Contact Us.html">  AboutUs</a>
        <a href="Contact Us.html">  Designs</a>
        <a href="Contact Us.html"> ContactUs  </a>
        </center>
    <nav> 
        <div>
            <h3 >Navigator Bar</h3>
            
        
        </div>
            </nav>
</body>
</html>