<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page for the personal homework in web class</title>
</head>
<body>
    
    <img src="/Users/stavo/Documents/StavPazCohen/static/BGU.png" alt="BGU" width="120">
    <center> 
        <h1 style="color: rgb(0, 64, 128);border: 2px solid rgb(73, 149, 221);margin: 10px; padding: 4px;">Homework</h1>
        <p style="color: rgb(7, 74, 119); border: 2px solid rgb(50, 110, 167);margin: 10px; padding: 10px; font-size: large;">
            Hi everyone Im a BGU student <br>
            and this is my home page in web class
        </p>
        <img src="/Users/stavo/Documents/StavPazCohen/static/homework.jpg" alt="homeworks" width="180"">
        </center>


    
    <nav> 
<div>
    <h3 style="border: 2px solid rgb(89, 99, 108);margin: 10px; padding: 6px;">Navigator Bar</h3>
   

</div>
    </nav>
</body>
</html>